* {
  font-family: "Libre Franklin", sans-serif;
  color: rgb(0, 0, 0);
}

body {
  /* background: #14424b; Old color*/
  background-color: #132b4c;
  height: 100%;
}

#main-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  /* background-color: #2b7499; old login form background color*/
  background-color: #132b4c;
}

#content-container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding-top: 20px;
}

#login-form {
  width: 500px;
}

/* h2 {
  color: #fff; old login title text color
} */

h3 {
  font-family: "Roboto Slab", serif;
  color: #d2e8e9;
  font-weight: 300;
  font-size: 2.5em;
}

.error {
  color: #f84e57;
  font-size: 20px;
}

#submit {
  padding: 10px;
  font-size: 15px;
  color: white;
  font-family: "Montserrat", sans-serif;
  /* background: rgb(25 81 241); */
  background-color: #f6922e;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

#email {
  border-color: #f6922e;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background-color: #f7f7f7;
  transition: 0.2s background-color ease-in-out;
  border-radius: 10px;
}

#password {
  border-color: #f6922e;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background-color: #f7f7f7;
  transition: 0.2s background-color ease-in-out;
  border-radius: 10px;
}
